<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>
<body>
    <head>
        <img src="../public/images/logo-mercado-liebre.svg" alt="LogoMercadoLiebre" width="50%">
        <div> <p>Lugar para poner la barra de busqueda </p> </div>
        <div> <p>Comprá en cuotas y sin tarjeta de crédito </p></div>
        <ul>
            <li>Ofertas</li>
            <li>Tiendas Oficiales</li>
            <li>Vender</li>
            <li>Ayuda</li>
        </ul> 
        <ul>
            <li> Creá tu cuenta </li>
            <li>Ingresá</li>
            <li>Mis compras</li>
        </ul>
    </head>
    <main>
        <section>
            <h3>Basado en tu última visita</h3>
            <img src="../public/images/img-cafetera-moulinex.jpg " width="25%" alt="imagenDeCafetera">
            <div><p>$6.770<br> 40% OFF <br> Cafetera Molinex  </p></div>
            
            <img src="../public/images/img-macbook-pro-2019.jpg " width="25%" alt="imagenDeCafetera">
            <div><p>$230.000<br> 20% OFF <br> MacBook Pro 2019 </p></div>

            <img src="../public/images/img-samsung-galaxy-s10.jpg" width="25%" alt="imagenDeCafetera">
            <div><p>$70.500<br> 10% OFF <br> Samsung Galaxy S10  </p></div>

            <img src="../public/images/img-tv-samsung-smart.jpg" width="25%" alt="imagenDeCafetera">
            <div><p>$23.200<br> 5% OFF <br> Smart Tv Samsung 43" </p></div>

        </section>



        <section>

            <h3>Seccion de ofertas</h3>
            <img src="../public/images/img-cafetera-moulinex.jpg " width="25%" alt="imagenDeCafetera">
            <div><p>$6.770<br> 40% OFF <br> Cafetera Molinex  </p></div>
            
            <img src="../public/images/img-macbook-pro-2019.jpg " width="25%" alt="imagenDeCafetera">
            <div><p>$230.000<br> 20% OFF <br> MacBook Pro 2019 </p></div>

            <img src="../public/images/img-samsung-galaxy-s10.jpg" width="25%" alt="imagenDeCafetera">
            <div><p>$70.500<br> 10% OFF <br> Samsung Galaxy S10  </p></div>

            <img src="../public/images/img-tv-samsung-smart.jpg" width="25%" alt="imagenDeCafetera">
            <div><p>$23.200<br> 5% OFF <br> Smart Tv Samsung 43" </p></div>
        </section>

    </main>
    <footer>
        <section><h4>Pagá en tarjeta o en efectivo</h4>
        Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</section>

        <section><h4>Envío gratis desde $2500</h4>
        Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</section>
        
        <section><h4>Seguridad de principio a fin </h4>
        ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@</section>
        
        <section>
        Copyright (c) 1999-2020 MercadoLiebre S.R.L.</section>
    </footer>
</body>
</html>